rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pilotos/{pilotId} {
      allow read, write: if true;
    }
    match /carreras/{raceId} {
      allow read, write: if true;
    }
    match /configuracion/{configId} {
      allow read, write: if true;
    }
    match /usuarios/{userId} {
      allow read, write: if true;
    }
    match /fantasy_leaderboard/{teamId} {
      allow read, write: if true;
    }
    match /fantasy_teams/{teamId} {
      allow read, write: if true;
    }
    match /noticias/{newsId} {
      allow read, write: if true;
    }
    match /noticias_comentarios/{commentId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
